body {
  margin: 0;
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f3f3f3;
  color: #2F4550;
  font-size: 20px;
}

h1 {
  font-size: 48px;
  font-style: bold;
}

textarea {
    width: 600px;
    height: 100px;
    font-size: 20px;
    line-height: 28px
}


.center {
    width: 40%;
}

.submit-button {
  width: 30%;
}

.submit-quiz {
  width: 30%;
}

.logo {
    padding: 20px;
}

.question {
  margin-top: 40px;
}

#sidebar {
  z-index: 1000;
  display: block;
}

.question-inside {
  padding: 10px;
  width: 80%;
  background-color: #F4F4F9;
  border-radius: 12px;
  color: #586F7C;
}

.btn {
  background: #586F7C;
  color: #F4F4F9;
  border: 0 none;
}

.toggle-quiz {
  margin-left: 85%;
}

#question-element {
  border: 1px #2F4550 solid;
  width: 85%;
  padding: 20px;
}

#navbar-custom {
  color: #586F7C;
}

#highfive {
  height: 100px;
  width: auto;
}

#show-answer {
  margin-left: 40px;
}

#score {
  color: #7f0000;
  margin-left: 40px;
  margin-top: 20px;
}

.quiz-ques {
  margin-left: 40px;
}

.quiz-area {
  width: 1600px;
  font-size: 20px;
}
